.news {
  margin-top: 32px;

  .news__contents {
    display: grid;
    row-gap: 60px;

    @media screen and (min-width: 768px) {
      grid-template-columns: 65% 1fr;
      column-gap: 32px;
    }

    @media screen and (min-width: 1024px) {
      grid-template-columns: 62% 1fr;
      column-gap: 10%;
    }
  }

  .news__cards {
    display: grid;
    row-gap: 42px;

    @media screen and (min-width: 768px) {
      row-gap: 32px;
    }
  }

  .news__card-link {
    display: flex;
    flex-direction: column;
    width: 100%;
    row-gap: 16px;
    padding-bottom: 16px;
    border-bottom: 1px dashed var(--color-black);
    transition: opacity 0.3s;

    &:hover {
      opacity: 0.7;
    }

    @media screen and (min-width: 768px) {
      column-gap: 24px;
    }

    @media screen and (min-width: 1024px) {
      flex-direction: row;
    }
  }

  .news__card-image {
    aspect-ratio: 4 / 3;

    @media screen and (min-width: 768px) {
      aspect-ratio: 277 / 185;
    }

    @media screen and (min-width: 1024px) {
      flex-shrink: 0;
      width: 30%;
    }

    img {
      width: 100%;
      border-radius: 13px;
      /* height: 100%; */
      object-fit: cover;
    }
  }

  .news__card-content {
    display: grid;
    row-gap: 12px;
    grid-auto-rows: max-content max-content max-content 1fr;

    @media screen and (min-width: 768px) {
    }
  }

  .news__card-info {
    display: flex;
    align-items: center;
    column-gap: 14px;
  }

  .news__card-date {
    font-size: 12px;
  }

  .news__card-label {
    font-size: 14px;
    line-height: 1;
    padding: 4px 12px;
    background-color: var(--color-main);
    border-radius: 12px;
    color: white;
  }

  .news__card-title {
    font-size: 18px;
    font-weight: 700;
  }

  .news__card-text {
    font-size: 16px;
  }

  .news__sidebar {
  }

  .news__sidebar-title {
    color: white;
    font-size: 16px;
    line-height: 1;
    padding: 6px;
    background-color: var(--color-black);
    border-radius: 6px;
    text-align: center;
  }

  .news__sidebar-category-nav {
    margin-top: 16px;
  }

  .news__sidebar-category-lists {
    display: grid;
    row-gap: 16px;
    padding-inline: 8px;
  }

  .news__sidebar-category-list {
    padding-bottom: 12px;
    border-bottom: 1px dashed var(--color-black);
  }

  .news__sidebar-category-link {
    display: flex;
    align-items: center;
    column-gap: 14px;
    transition: opacity 0.3s;
    cursor: pointer;

    &:hover {
      opacity: 0.7;
    }
  }

  .news__sidebar-icon {
    aspect-ratio: 1 / 1;
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    border-radius: 50%;
    color: white;
    background-color: var(--color-main);
  }

  .news__sidebar-category-link-text {
    font-size: 16px;
  }

  .news__pagination {
    display: flex;
    justify-content: center;
    padding-block: 40px;
    column-gap: 12px;
    flex-wrap: wrap;

    @media screen and (min-width: 768px) {
      padding-block: 80px;
    }
  }

  .news__pagination-icon {
    border: 1px solid;
    display: flex;
    align-items: center;
    justify-content: center;
    aspect-ratio: 1 / 1;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border-color: var(--color-black);
    font-size: 16px;
    line-height: 1;
    transition: opacity 0.3s;
    cursor: pointer;

    &:hover {
      opacity: 0.7;
    }

    &.news__pagination-icon--current {
      pointer-events: none;
      background-color: var(--color-main);
      color: white;
      border-color: var(--color-main);
    }
  }

  .news__detail-paging-area {
    padding-top: 40px;
    padding-bottom: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: max-content max-content;
    gap: 24px;

    @media screen and (min-width: 768px) {
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: max-content;
      align-items: center;
      padding-top: 100px;
      padding-bottom: 140px;
    }

    li {
      &:nth-of-type(1) {
        display: flex;
        justify-content: flex-start;
        
        @media screen and (max-width: 767px) {
          grid-row: 1 / 2;
          grid-column: 1 / 2;
          justify-content: center;
        }
      }
      &:nth-of-type(2) {
        display: flex;
        justify-content: center;

        @media screen and (max-width: 767px) {
          grid-column: 1 / 3;
          grid-row: 2 / 3;
        }
      }
      &:nth-of-type(3) {
        display: flex;
        justify-content: flex-end;
        @media screen and (max-width: 767px) {
          grid-row: 1 / 2;
          grid-column: 2 / 3;
          justify-content: center;
          /* text-align: center; */
        }
      }
    }
  }

  .news__detail-link {
    display: flex;
    column-gap: 8px;
    align-items: center;
    justify-content: center;
    padding-block: 4px;

    &:hover {
      text-decoration: underline;
    }
  }

  .news__detail-link-icon {
  }

  .news__detail-link-text {
  }

  .news__detail-return-link {
    display: flex;
    border: 1px solid var(--color-black);
    max-width: 250px;
    width: 100%;
    padding: 16px;
    transition: background-color 0.3s, border-color 0.3s, color 0.3s;
    border-radius: 32px;
    column-gap: 16px;
    align-items: center;
    justify-content: center;
    transition: opacity 0.3s;

    &:hover {
      opacity: 0.7;
    }
  }

  .news__detail-return-link-icon {
    width: 15px;
    height: 15px;
    display: block;
    background-color: var(--color-red);
    border-radius: 50%;
  }

}
