:root {
  --font-ja: "Zen Maru Gothic", sans-serif;
  --font-en: "Outfit", sans-serif;
  --color-black: #2d3243;
  --color-white: #ffffff;
  --color-main: #fc7216;
  --color-red: #cd3022;
  --color-sub: #f7f5ea;
  --color-gray: #f0f0f0;
  --color-gray-2: #cccccc;

  --padding-sp: 16px;
  --padding-pc: 24px;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-ja);
  font-weight: 400;
  font-style: normal;
  color: var(--color-black);
  line-height: 1.6;
}

p {
  line-height: 1.6;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

a,
button {
  display: inline-block;
}

.bg-sub {
  background-color: var(--color-sub);
}

.font-en {
  font-family: var(--font-en);
  font-weight: 100;
}

.inner-wide {
  width: 100%;
  padding-inline: var(--padding-sp);

  @media screen and (min-width: 768px) {
    margin-inline: auto;
    padding-inline: var(--padding-pc);
    max-width: calc(1200px + (var(--padding-pc) * 2));
  }
}

.inner-middle {
  width: 100%;
  padding-inline: var(--padding-sp);

  @media screen and (min-width: 768px) {
    margin-inline: auto;
    padding-inline: var(--padding-pc);
    max-width: calc(1100px + (var(--padding-pc) * 2));
  }
}

.inner-small {
  width: 100%;
  padding-inline: var(--padding-sp);

  @media screen and (min-width: 768px) {
    margin-inline: auto;
    padding-inline: var(--padding-pc);
    max-width: calc(1000px + (var(--padding-pc) * 2));
  }
}

.section {
  padding-block: 60px;

  @media screen and (min-width: 768px) {
    padding-block: 120px;
  }
}

.section-title {
  display: flex;
  flex-direction: column;
  row-gap: 8px;

  &.section-title--right {
    @media screen and (min-width: 768px) {
      .section-title__contents {
        align-items: initial;
      }

      .section-title__lines {
        justify-content: initial;
      }

      .section-title__line {
        &:nth-of-type(1) {
          width: 8px;
          height: 8px;
          border-radius: 50%;
        }
        &:nth-of-type(2) {
          width: 136px;
          height: 2px;
          border-radius: 12px;
        }
        &:nth-of-type(3) {
          display: none;
        }
      }
    }
  }

  .section-title__contents {
    display: flex;
    row-gap: 8px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .section-title__text-en {
    font-size: 52px;
    line-height: 1;

    @media screen and (min-width: 768px) {
      font-size: 82px;
    }
  }

  .section-title__text-ja {
    font-size: 14px;
    line-height: 1.6;

    @media screen and (min-width: 768px) {
      font-size: 16px;
    }
  }

  .section-title__lines {
    display: flex;
    align-items: baseline;
    justify-content: center;
    column-gap: 8px;
  }

  .section-title__line {
    background-color: var(--color-main);
    &:nth-of-type(1) {
      width: 50px;
      height: 2px;
      border-radius: 12px;
    }
    &:nth-of-type(2) {
      width: 8px;
      height: 8px;
      border-radius: 50%;
    }
    &:nth-of-type(3) {
      width: 50px;
      height: 2px;
      border-radius: 12px;
    }
  }
}

div.link {
  pointer-events: none;
}

.link {
  display: flex;
  column-gap: 6px;
  align-items: center;
  padding-block: 2px;
  cursor: pointer;

  &.link--left {
    column-gap: 6px;
    .link__contents {
      column-gap: 8px;

      &::before {
        right: 0;
        left: initial;
      }
    }

  }

  &.link--news-more {
    column-gap: 10px;
    .link__text {
      font-family: var(--font-ja);
      font-size: 18px;
    }

    .link__contents {
      column-gap: 24px;
    }
  }

  &:hover {
    .link__contents {
      &::before {
        width: 100%;
      }
    }
  }

  .link__icon {
    width: 15px;
    height: 15px;
    display: inline-block;
    border-radius: 50%;
    background-color: var(--color-red);
  }

  .link__contents {
    display: flex;
    align-items: center;
    position: relative;
    padding-bottom: 2px;
    column-gap: 6px;

    &::before {
      content: "";
      width: 0;
      height: 1px;
      background-color: var(--color-black);
      position: absolute;
      left: 0;
      bottom: 0;
      transition: all 0.3s;
    }
  }

  .link__text {
    font-size: 16px;
    line-height: 1;
    font-family: var(--font-en);
  }

  .link__arrow {
    line-height: 1;
    font-size: 12px;
  }
}

.indent {
  display: inline-block;
  font-weight: inherit;
}

.breadcrumbs {
  .breadcrumbs__inner {
    padding-block: 20px;

    @media screen and (min-width: 768px) {
      padding-block: 30px;
    }
  }

  ol {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 16px;
    line-height: 1;

    @media screen and (min-width: 768px) {
      column-gap: 20px;
    }
  }

  li {
    position: relative;
    font-size: 14px;

    @media screen and (min-width: 768px) {
      font-size: 16px;
    }

    &::after {
      content: "";
      position: absolute;
      width: 6px;
      height: 6px;
      display: block;
      border-bottom: 1px solid var(--color-black);
      border-right: 1px solid var(--color-black);

      right: -12px;
      top: 50%;
      transform: rotate(-45deg) translateY(-50%);
      line-height: 1;

      @media screen and (min-width: 768px) {
        right: -14px;
      }
    }

    &:last-child {
      &::after {
        content: none;
      }
    }
  }

  a {
    line-height: 1.2;
    font-size: 14px;

    @media screen and (min-width: 768px) {
      font-size: 16px;
    }
  }
}

.article {
  h1 {
    font-size: 20px;
    line-height: 1.6;
    font-weight: 700;
    padding-block: 8px 16px;

    @media screen and (min-width: 768px) {
      font-size: 30px;
      padding-bottom: 16px 32px;
    }
  }

  h2 {
    padding-left: 10px;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.6;
    border-left: 2px solid var(--color-main);
    margin-block: 8px 16px;

    @media screen and (min-width: 768px) {
      font-size: 24px;
      margin-block: 26px 32px;
    }
  }

  img {
    width: auto;
    display: inline-block;
    max-width: 100%;
    margin-block: 8px 16px;

    @media screen and (min-width: 768px) {
      margin-block: 16px 32px;
    }
  }

  p {
    font-size: 16px;
    line-height: 2;
    padding-bottom: 12px;

    @media screen and (min-width: 768px) {
      padding-bottom: 16px;
    }
  }

  ol {
    padding-block: 8px 16px;
    padding-left: 12px;
    counter-reset: item;
    display: grid;
    row-gap: 16px;

    @media screen and (min-width: 768px) {
      padding-bottom: 16px 32px;
    }

    li {
      counter-increment: item;
      position: relative;
      padding-left: 36px;

      &::before {
        content: counter(item);
        position: absolute;
        left: 0;
        top: 0.1em;
        aspect-ratio: 1/1;
        width: 24px;
        display: flex;
        align-items: center;
        font-size: 12px;
        border-radius: 50%;
        justify-content: center;
        background-color: var(--color-main);
        color: white;
        line-height: 1;
      }
    }
  }
  ul {
    padding-block: 8px 16px;
    padding-left: 12px;
    counter-reset: item;
    display: grid;
    row-gap: 16px;

    @media screen and (min-width: 768px) {
      padding-bottom: 16px 32px;
    }

    li {
      counter-increment: item;
      position: relative;
      padding-left: 16px;

      &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0.5em;
        aspect-ratio: 1/1;
        width: 8px;
        border-radius: 50%;
        background-color: var(--color-main);
      }
    }
  }

  a {
    color: var(--color-main);
    cursor: pointer;
    transition: opacity 0.3s;
    text-decoration: underline;

    &:hover {
      opacity: 0.7;
    }
  }
}

.fade-in {
  opacity: 0;
  transform: translateY(20px);
  transition: all 0.4s ease-out;
}

.fade-in.show {
  opacity: 1;
  transform: translateY(0);
}
